.post-content img[src*="#width-zoom8"] {
    width: 80%;
}

.post-content img[src*="#width-zoom7"] {
    width: 70%;
}

.post-content img[src*="#width-zoom6"] {
    width: 60%;
}

.post-content img[src*="#width-zoom5"] {
    width: 50%;
}

.post-content img[src*="#width-zoom4"] {
    width: 40%;
}

.post-content img[src*="#width-zoom3"] {
    width: 30%;
}

.post-content img[src*="#width-zoom2"] {
    width: 20%;
}

.post-content img[src*="#width-zoom1"] {
    width: 10%;
}
