<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>.post-content img[src*="#width-zoom8"] {
 width: 80%;
}
img[src*="#width-zoom7"] {
 width: 70%;
}
img[src*="#width-zoom6"] {
 width: 60%;
}
img[src*="#width-zoom5"] {
 width: 50%;
}
img[src*="#width-zoom4"] {
 width: 40%;
}
img[src*="#width-zoom3"] {
 width: 30%;
}
img[src*="#width-zoom2"] {
 width: 20%;
}
